[submodule "wp-content/themes/wp-admtheme"]
	path = wp-content/themes/wp-admtheme
	url = https://github.com/atelierdesmedias/wp-admtheme
[submodule "wp-content/plugins/wp-xwiki-adm"]
	path = wp-content/plugins/wp-xwiki-adm
	url = https://github.com/atelierdesmedias/wp-xwiki-adm
